@model TravelCardOrderService.Models.Order
@{
    ViewData["Title"] = "CreateOrder";
}

<br />
<h2>Add new order</h2>
<hr />

<form asp-action="Create">
    <div class="row form-border">
        <!--check if all properties of the model are correctly filled-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>
                            <label asp-for="Mb"></label>
                        </th>
                        <th>
                            <label asp-for="M46"></label>
                        </th>
                        <th>
                            <label asp-for="M62"></label>
                        </th>
                        <th>
                            <label asp-for="MAb"></label>
                        </th>
                        <th>
                            <label asp-for="MA46"></label>
                        </th>
                        <th>
                            <label asp-for="MA62"></label>
                        </th>
                        <th>
                            <label asp-for="MTRb"></label>
                        </th>
                        <th>
                            <label asp-for="MTR46"></label>
                        </th>
                        <th>
                            <label asp-for="MTR62"></label>
                        </th>
                        <th>
                            <label asp-for="MTb"></label>
                        </th>
                        <th>
                            <label asp-for="MT46"></label>
                        </th>
                        <th>
                            <label asp-for="MT62"></label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Mb" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="M46" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="M62" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MAb" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MA46" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MA62" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MTRb" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MTR46" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MTR62" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MTb" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MT46" id="MT46" class="form-control" value="0" />
                        </td>
                        <td>
                            <input asp-for="MT62" class="form-control" value="0" />
                        </td>
                    </tr>
                </table>
            </div>
            <span asp-validation-for="Mb" class="text-danger"></span>
            <span asp-validation-for="M46" class="text-danger"></span>
            <span asp-validation-for="M62" class="text-danger"></span>
            <span asp-validation-for="MAb" class="text-danger"></span>
            <span asp-validation-for="MA46" class="text-danger"></span>
            <span asp-validation-for="MA62" class="text-danger"></span>
            <span asp-validation-for="MTRb" class="text-danger"></span>
            <span asp-validation-for="MTR46" class="text-danger"></span>
            <span asp-validation-for="MTR62" class="text-danger"></span>
            <span asp-validation-for="MTb" class="text-danger"></span>
            <span asp-validation-for="MT46" class="text-danger"></span>
            <span asp-validation-for="MT62" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-sm btn-primary" />
            <input type="submit" asp-action="GetByUser" value="Back to List" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>





