@model TravelCardOrderService.Models.Order
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete order</h2>
<hr />
<h5><label asp-for="UserName">User name: @Model.UserName</label></h5>

<form asp-action="Delete">
    <div class="row form-border">
        <div class="form-group">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>
                            <label asp-for="Mb"></label>
                        </th>
                        <th>
                            <label asp-for="M46"></label>
                        </th>
                        <th>
                            <label asp-for="M62"></label>
                        </th>
                        <th>
                            <label asp-for="MAb"></label>
                        </th>
                        <th>
                            <label asp-for="MA46"></label>
                        </th>
                        <th>
                            <label asp-for="MA62"></label>
                        </th>
                        <th>
                            <label asp-for="MTRb"></label>
                        </th>
                        <th>
                            <label asp-for="MTR46"></label>
                        </th>
                        <th>
                            <label asp-for="MTR62"></label>
                        </th>
                        <th>
                            <label asp-for="MTb"></label>
                        </th>
                        <th>
                            <label asp-for="MT46"></label>
                        </th>
                        <th>
                            <label asp-for="MT62"></label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Mb" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="M46" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="M62" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MAb" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MA46" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MA62" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MTRb" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MTR46" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MTR62" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MTb" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MT46" disabled class="form-control" />
                        </td>
                        <td>
                            <input asp-for="MT62" disabled class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
            <a asp-action="GetByUser" class="btn btn-sm btn-success">Back to List</a>
        </div>
    </div>
</form>